body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #E5D9FA;
    color: #E5D9FA;

    padding: 20px;
}
body ol li a {
    color: #E5D9FA; /* A vibrant red color */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #120E25;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
    background: linear-gradient(135deg, #FF1F55, #8a0a28); /* A vibrant red color */
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

details {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
summary {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  outline: none; 
}
summary::-webkit-details-marker {
  display: none; /* Для старых версий Safari */
}
p {
  padding: 10px;
  margin: 0;
}
